<div id="<%= dom_id news %>">
  <p>
    <strong>Title:</strong>
    <%= news.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= news.body %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= news.status %>
  </p>

</div>
